body{
    background-color: rgb(163, 146, 146);
    font-style: italic;
    text-align: center;
    flex-wrap: wrap-reverse;
     color: rgb(110, 104, 104);
}
h1{
    font-size: 590%;
    color: rgba(139, 105, 138, 0.952);
}

p{
    font-size: 290%;
}